.container {
  display: flex;
  flex-direction: row;
  height: 85vh;
  gap: 32px;
}

.leftBox {
  flex: 1 1 0px;
  height: 100%;
}

.rightBox {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 16px;
  padding: 60px 0;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 32px;
}

.statusTitle {
  font-size: 14px;
}

.statusIcon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.infoContainer {
  display: flex;
  gap: 32px;
  padding: 10px;
}

.innerInfoContainer {
  display: flex;
  flex: 1 1 0px;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.behaviourListContainer {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.behaviourPill {
  display: flex;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  justify-content: space-between;
}

.behaviourContainer {
  display: flex;
  flex: 1 1 0px;
  gap: 32px;
  margin-top: 20px;
  padding: 16px;
}

.behaviourTitleBox {
  flex: 1 1 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .largeTitle {
    font-weight: 900;
    font-size: 80px;
    color: var(--accent-primary);
  }
}

.searchBar {
  padding: 8px;
  display: flex;
}

.vehicleMaintenance {
  margin-top: 32px;
  max-height: 40%;
}
