.pageContainer {
}

.cameraContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.liveClasBox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px 8px;
  border: 1px solid gray;
  justify-content: space-evenly;
  flex: 1 1 0px;
}

.liveClasContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 2px solid gray;
  padding: 16px;
  flex: 1 1 0px;
  max-height: 450px;
  overflow-y: auto;
}

.listContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}

.cameraWrapper {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cameraContainer {
  margin-bottom: 64px;
}
