.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  position: relative;
}

.backgroundTopLeft {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: #55cfed;
  opacity: 0.4;
  height: 575px;
  width: 700px;
  border-radius: 100000px;
  z-index: 1;
}

.backgroundTopRight {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: #55cfed;
  opacity: 0.4;
  height: 400px;
  width: 400px;
  border-radius: 100000px;
  z-index: 1;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.welcomeText {
  color: black;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
}

.accentPrimary {
  color: var(--accent-primary);
}

.subtitleText {
  color: black;
  font-size: 18px;
  margin-top: 15px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.buttonPrimary {
  width: 100%;
  background-color: var(--accent-primary);
  color: white;
  padding: 15px;
  border-radius: 15px;
  text-transform: none;
  font-size: 18px;
}

.buttonPrimary:hover {
  background-color: var(--accent-primary);
  color: white;
}

.buttonSecondary {
  width: 100%;
  background-color: var(--accent-secondary);
  color: var(--accent-primary);
  padding: 15px;
  border-radius: 15px;
  text-transform: none;
  font-size: 18px;
  margin-top: 10px;
}

.buttonSecondary:hover {
  background-color: var(--accent-secondary);
  color: var(--accent-primary);
}
