.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--accent-primary);
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid gray;
}

.navBarTitle {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  padding: 10px 30px;
}

.tabContainer {
  display: flex;
  flex-direction: row;
}

.tab {
  padding: 20px;
  cursor: pointer;
  &:hover {
    background-color: var(--accent-primary-hover);
  }
}

.active {
  background-color: var(--background-light);
  color: black;
  &:hover {
    background-color: var(--background-light);
  }
}

.iconContainer {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}

.icon {
  border-radius: 100%;
  margin: 0 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
